* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.content {
    display: grid;
    gap: 30px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-areas:
        "order-section payment-section"
        "total-section total-section";
    grid-template-columns: repeat(2, 1fr);
}

.navbar {
    background-color: #43281c;
    color: #fbf2c0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.logo {
    height: 25px;
    margin-right: 10px;
}

.container {
    background-color: #eee1d5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.section-title {
    color: #885a2d;
    font-size: 16px;
    margin-bottom: 15px;
}

.order-section {
    grid-area: order-section;
}

.payment-section {
    grid-area: payment-section;
}

.total-section {
    grid-area: total-section;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-list {
    list-style: none;
}

.order-item {
    border-bottom: 2px solid #DDB892;
    display: grid;
    gap: 8px;
    padding: 10px 0;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
        "item-qty item-name item-cost"
        "item-qty item-details item-cost";
}

.order-item:last-child {
    border-bottom: none;
}

.item-qty {
    grid-area: item-qty;
}

.item-name {
    grid-area: item-name;
    font-weight: bold;
}

.item-cost {
    grid-area: item-cost;
    font-weight: bold;
}

.item-details {
    grid-area: item-details;
    color: #B08968;
    list-style: none;
    font-size: 14px;
    padding: 0;
    }
    
    .item-detail {
    margin-bottom: 5px;
    }
    
    .input-wrap {
    margin-bottom: 20px;
    position: relative;
    }
    
    .input-field {
    background-color: transparent;
    border: 2px solid #885a2d;
    padding: 8px;
    border-radius: 100px;
    width: 100%;
    font-size: 18px;
    text-indent: 18px;
    }
    
    .input-label {
    color: #885a2d;
    background-color: #eee1d5;
    font-size: 11px;
    position: absolute;
    top: -7px;
    left: 25px;
    padding: 0 2px;
    }
    
    .short-input {
    max-width: 200px;
    }
    
    .totals {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    }
    
    .totals td {
    padding: 10px;
    }
    
    .totals td:last-child {
    text-align: right;
    }
    
    .total-amount {
    font-weight: bold;
    }
    
    .order-button {
    background-color: #deb993;
    border: none;
    padding: 10px 30px;
    width: 100%;
    border-radius: 100px;
    font-size: 16px;
    }